<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="bangalore.bms.siemensmakeitreal">
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme.NoActionBar">
        <activity android:name=".Pdscoredisplay">
            <intent-filter>
                <action android:name="android.intent.action.t" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

        </activity>
        <activity android:name=".PdMainactivity">
            <intent-filter>
                <action android:name="android.intent.action.tt" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".FingerTapper">
            <intent-filter>
                <action android:name="android.intent.action.New" />

                <category android:name="android.intent.category.O" />
            </intent-filter>
        </activity>
        <activity android:name=".DoubleTapper">
            <intent-filter>
                <action android:name="android.intent.action.New" />

                <category android:name="android.intent.category.O" />
            </intent-filter>
        </activity>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Adtest">
            <intent-filter>
                <action android:name="android.intent.action.MNN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".HomePage">
            <intent-filter>
                <action android:name="android.intent.action.M" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Register_page">
        <intent-filter>
            <action android:name="android.intent.action.MA" />

            <category android:name="android.intent.category.LAUNCHER" />
        </intent-filter>
    </activity>
        <activity android:name=".Adtest2">
            <intent-filter>
                <action android:name="android.intent.action.MA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Adtest3">
            <intent-filter>
                <action android:name="android.intent.action.MA" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Adtest4">
            <intent-filter>
                <action android:name="android.intent.action.M" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Scoredisplay">
            <intent-filter>
                <action android:name="android.intent.action.M" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Memorytest">
            <intent-filter>
                <action android:name="android.intent.action.M" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>